.git
.gitignore
.gitattributes

.agent
.ai
.opencode
.vscode
.idea
.fleet
.nova
.zed

node_modules
vendor

.env
.env.*
!.env.example
auth.json

*.log
.DS_Store
Thumbs.db
.phpunit.result.cache
.phpunit.cache

public/build
public/hot
public/storage

storage
!storage/.gitignore

docker-compose.yml
README.md
CHANGELOG.md
*.md
*.xlsx
image.png
